/* Style de base */
* {

    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps */
body {

    margin: 100px;
    background-color: #696969;
}

/* Titre */
h1 {

    font-size: 30px;
    text-align: center;
    color: white;
}

/* Plateau */
div {

    border-collapse: collapse;
    margin-left: 850px;

}

div td {

    border: solid 1px #888;
    padding: 5px;
    text-align: center;

}

div tr.selected td {

    background: #bfd1ff;
}

div tr.selected td.selected {

    background: #dce6ff;
}

div tr td.valid {

    display:  none;
}

div tr.selected td.valid {

    display: table-cell;
}

.pion {

    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: solid 1px #888;
}

